.main
  .main__group-info
    .main__group-info--member
      .group-name
        = @group.name
      %ul.members
        %li Member:
        - @group.users.each do |user|
          %li.members__name 
            = user.name
    .main__group-info--edit
      = link_to edit_group_path(@group.id),class: "link__edit" do
        Edit
  .main__message-list
    = render partial: 'message', collection: @messages
  .main__message-form
    = form_with(model: [@group,@message], local: true, class: "form") do |f| 
      .form__message
        .form__message--text
          = f.text_field :messages, placeholder: "type a message" ,class: "input-form"
        .form__message--img
          = f.label :image ,icon("far","image")
          = f.file_field :image,style: "display: none"
      .form__btn
        = f.submit "SEND" ,class: "form__btn--send"