.main
  .main__group-info
    .main__group-info--member
      .group-name
        test
      %ul.members
        %li Member:
        %li.members__name masa
        %li.members__name test2
        %li.members__name ong-name-test
    .main__group-info--edit
      = link_to "#",class: "link__edit" do
        Edit
  .main__message-list
    - @group.messages.each do |message|
      .main__message-list--block
        .header
          .header__name
            = message.user.name
          .header__date
            = message.created_at
        .body
          = message.messages
  .main__message-form
    = form_with(model: [@group,@message], local: true, class: "form") do |f| 
      .form__message
        .form__message--text
          = f.text_field :messages, placeholder: "type a message" ,class: "input-form"
        .form__message--img
          = f.label :image,icon("far","image")
          = f.file_field :img,style: "display: none"
      .form__btn
        = f.submit "SEND" ,class: "form__btn--send"